<div class="container col-md-6 col-md-offset-3" >
  <div class="page-header">
    <h1>Welcome to Liar's DiceMS</h1>
  </div>
    <p>Liar's Dice is a fun and simple game which can be played with big and small groups. The game begins with each player randomly rolling 5 dice. These dice are hidden from the group and only shown to the player who rolled the dice.

    <p>A player starts a game by making a bid on how many dice there are of a specific face shared amongst the group's pool of dice. The next player must then make a higher BID or a CALL.

    <p>A higher bid is a bid with a higher count or the same number of count but a higher face value.

    <p>When a player makes a CALL, they are betting against the most recent bidder that the collect pool of dice has a lesser count of that specific face then the bid that was made.

    <p>Ones are wild and can be of any face. Even if ones are called. Sixes are also the highest so a call of sixes may only be followed by a higher count.

    <p>The loser of the call loses a dice and the round ends. Players are reroll their dice depending on how many they still have in their hand. The winner is the last player who still have dice.

    <p>Games currently can have an unlimited number of players.

    <p>Since this game is played over SMS, the particular commands to use include:

    <dl class="dl-horizontal">
      <dt>Create [name of game]</dt><dd>To create a game</dd>
      <dt>[name of game]</dt><dd>To join that game</dd>
      <dt>Start</dt><dd>To start the game you are currently</dd>
      <dt>[count] [face number]s</dt><dd>To make a bid, for example "3 2s"</dd>
      <dt>Call</dt><dd>To call against the bidder</dd>
    </dl>

  <div class="well">
    <p class='lead'>Let's play!</p>
    <h2>(202) 999 - 3423 </h2>
  </div>

  <div id="footer">
    <p class="text-muted text-right">Made through curiosity by <a href="http://elainetsai.com">Elaine Tsai</a></p>
  </div>
</div>

